<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>964603393818-8hfg4q27ten4du3pv0ij5l7313i2dqkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964603393818-8hfg4q27ten4du3pv0ij5l7313i2dqkt</string>
	<key>API_KEY</key>
	<string>AIzaSyBpy9x0WHzjH1LuM8ftq0HiJNw3OLEwvnI</string>
	<key>GCM_SENDER_ID</key>
	<string>964603393818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iturbide.columbus</string>
	<key>PROJECT_ID</key>
	<string>columbus-egg</string>
	<key>STORAGE_BUCKET</key>
	<string>columbus-egg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:964603393818:ios:a7b09a97924e0c99</string>
	<key>DATABASE_URL</key>
	<string>https://columbus-egg.firebaseio.com</string>
</dict>
</plist>
